<div ng-controller="PostIndividualController" ng-init="initialize()">
    <h1 class="text-center">{{post.title}}</h1>
    <div class="row">
        <div class="columns small-12 medium-4">
            <p>By: {{post.author}}</p>
        </div>
        <div class="columns small-12 medium-4">
            <p>{{post.timestamp | date: 'MMMM d, yyyy'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <p>{{post.content}}</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <h4>Comments</h4>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12" ng-repeat="comment in post.comments">
            <p ng-show="!edit[$index]">{{comment.text}} {{comment.timestamp | date: 'MMMM d, yyyy'}}</p>
            <form ng-show="edit[$index]" ng-submit="updateComment(comment, $index)">
                <textarea ng-model="comment.text"></textarea>
                <input type="submit" class="button" value="Submit"></input>
            </form>
            <button class="button success" ng-show="!edit[$index]" ng-click="edit[$index] = true">Edit</button>
            <button class="button alert" ng-click="deleteComment(comment)">Delete</button>
        </div>
    </div>
    <form ng-submit="addComment()">
        <div class="row">
            <div class="columns small-12">
                <!-- TODO: remove the inline styling once the css is figured out -->
                <label>Leave a comment <span class="alert" style="color: red;">*</span>
                    <textarea placeholder="Comment text" ng-model="newComment" rows="3"></textarea>
                </label>
                <input type="submit" class="button" value="Submit"></button>
            </div>
            <div class="columns small-12">
                <div class="callout alert" ng-show="error || error.length > 0">{{error}}</div>
            </div>
        </div>
    </form>
</div>