<div class="list" ng-controller="PostsController">
    <form>
        <ul class="posts-list">
            <li>
                <div class="row text-center">
                    <h1>Advice Column</h1>
                </div>
            </li>
            <li>
                <div class="row text-center">
                    <a class="success button" href="#/addpost">Make a New Post!</a>
                </div>
            </li>
            <li>
                <div class="row" ng-hide="showGetPostsError">
                    <div class="small-4 columns">
                        <label>
                          Sort By:
                          <select ng-model="sortType" ng-change="loadPosts()">
                            <option ng-value="timestamp">timestamp</option>
                            <option ng-value="title">title</option>
                            <option ng-value="author">author</option>
                            <option ng-value="content">content</option>
                          </select> 
                        </label>
                    </div>
                    <div class="small-4 columns">
                        <label>
                          Sort Direction: <br>
                          <input type="radio" ng-model="sortDirection" ng-value="1" ng-click="loadPosts()" /><span class="radio-button"> Ascending</span>
                          <input type="radio" ng-model="sortDirection" ng-value="-1" ng-click="loadPosts()" /><span class="radio-button"> Descending</span>
                        </label>
                    </div>
                </div>
            </li>
            <div class="row">
                <li ng-repeat="post in postsList" ng-hide="showGetPostsError || showNoPostsWarning">
                    <div class="small-6 columns posts-grid-item">
                        <h3>{{post.title}}</h3>
                        <h6>Author:  {{post.author}}</h6>
                        <p>{{post.content}}</p>
                        <a href="#/posts/{{post._id}}">Read more ...</a>
                    </div>
                </li>
            </div>
            <li>
                <div class="row text-center">
                    <span ng-click="goToFirstPage()"><< </span><span ng-click="previousPage()"> < </span><span ng-repeat="page in pagesList" ng-class="{ 'page-selected': currentPage == page }" ng-click="goToPage(page)"> {{page}} </span><span ng-click="nextPage()"> > </span><span ng-click="goToLastPage()"> >></span>
                </div>
            </li>
        </ul>
    </form>
</div>

<!-- <li> -->
<!-- <div class="row">
  <div class="small-2 columns">
    <button class="secondary hollow button" ng-click="previousPage()">Previous</button>
  </div>
  <div class="small-8 columns text-center">
    <h5>Page:  {{currPage}} of {{numPages}}</h5>
  </div>
  <div class="small-2-columns">
    <button class="success hollow button" ng-click="nextPage()">Next</button>
  </div>
</div>
</li>
<li class="first-list-item" ng-show="showGetTasksError">
<div class="row text-center message">
      <span class="alert label"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  {{errorMessage}}</span>
  </div>
</li>
<li class="first-list-item" ng-show="showDeleteTaskError">
<div class="row text-center message">
      <span class="alert label"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  {{deleteErrorMessage}}</span>
  </div>
</li>
<li class="first-list-item" ng-show="showNoTasksWarning">
<div class="row text-center message">
      <span class="warning label no-pads"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  {{warningMessage}}</span>
  </div>
</li> -->