<div ng-init="initialize()">
    <div class="row">
        <div class="columns small-12">
            <h1>Hello {{user}}!</h1>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-9">
            <h3>Recent Posts</h3>
            <table>
                <tbody>
                    <tr ng-repeat="post in mostRecentPosts">
                        <td>
                            <h4>{{post.title}}</h4>
                            <p>{{post.content}}</p>
                            <a href="#/posts/{{post._id}}">Read More</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="columns small-12 medium-4 large-3">
            <h4>Recent Job Listings</h4>
            <table>
                <tbody>
                    <tr ng-repeat="job in mostRecentJobs">
                        <td>
                            <h6><a href="#/jobs/{{job._id}}">{{job.title}}</a></h6>
                            <p>{{job.company}} | {{job.city}}, {{job.state}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>