<div class="row">
  <h1>Register</h1>
  <div ng-show="error" class="alert-box warning">{{errorMessage}}</div>
  <form class="form" ng-submit="register()">
      <label>Name
        <input type="text" class="form-control" name="name" ng-model="registerForm.name" required>
      </label>
      <label>Username
        <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
      </label>
      <label>Email
        <input type="email" class="form-control" name="email" ng-model="registerForm.email" required>
      </label>
      <label>Password
        <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
      </label>
    <div>
        <button type="submit" class="success button" ng-disabled="disabled">Register</button>
    </div>
  </form>
</div>
