// Add any custom Sass & CSS here
.job-content {
  background: $bright-green;
  border-style: solid;
  border-width: 1px;
}

.job-content h1{
  background: $dark-purple;
  color: white;
  padding: 0px 20px;
}

.job-content p {
  padding: 0px 20px;
}

.job-info {
  padding: 0px 20px;
  font-weight: bold;
}

#share, #apply {
  background: $dark-purple;
}
