<div class="row text-left">
    <div class="small-12 columns">
        <h1>New Job Listing</h1>
    </div>
    <div class="small-12 columns">
        <label><span>Job Title</span><span>*</span></label>
        <input type="text" ng-model="title" placeholder="Enter the job title">
    </div>
    <div class="small-12 columns">
        <label><span>Company</span><span>*</span></label>
        <input type="text" ng-model="company" placeholder="What company is this job under?">
    </div>
    <div class="small-12 medium-8 columns">
        <label><span>City</span><span>*</span></label>
        <input type="text" ng-model="city" placeholder="City of the job">
    </div>
    <div class="small-12 medium-4 columns">
        <label><span>State</span><span>*</span></label>
        <select ng-options="st.name for st in states"
                ng-model="state"></select>
    </div>
    <div class="small-12 medium-8 columns">
        <label><span>Application Link</span></label>
        <input type="text" ng-model="link" placeholder="Link to job application">
    </div>
    <div class="small-12 medium-4 columns">
        <label><span>Deadline</span></label>
        <datepicker date-format="MM/dd/yyyy">
            <input ng-model="deadline" type="text" placeholder="Apply by ..."/>
        </datepicker>
    </div>
    <div class="small-12 columns">
        <label><span>Description</span></label>
        <input type="text" ng-model="description" placeholder="Write the job description">
    </div>
    <div class="small-12 columns">
        <label><span>Tags</span></label>
        <input type="text" ng-model="tags" placeholder="Enter some tags, with a comma between each">
    </div>
    <div class="small-8 medium-10 columns">
        <div class="label success text-center" ng-show="postSuccess">
            Successfully posted new job.
        </div>
        <div class="label alert text-center" ng-show="postError">
            {{postErrorMessage}}
        </div>
    </div>
    <div class="small-4 medium-2 columns clearfix">
        <button class="float-right button success" ng-click="postJob()">Publish</button>
    </div>
</div>
    <!--<select ng-options="st.name for st in states"
        ng-model="state"
        ng-change="reloadCities()"></select>

    <select ng-model="city">
        <option ng-repeat="ct in cities | orderBy:'ct.name' " value="{{ct.name}}">
            {{ct.name}}, {{ct.full_county_name}}
        </option>
    </select>-->